
<div ng-controller="configurableProductCardController" ng-init="initProductConfiguration('{{product.id}}')">
    <div class="product-pull-left">
        {% if customer %}
            {{ 'products.price.private' | t }}
        {% else %}
            {{ 'products.price.public' | t }}
        {% endif %}
    </div>

    <div class="product-pull-right mb-3" ng-init="showPricesWithTaxes = {{settings.show_prices_with_taxes}}">
        <span style="color:#44AE24" ng-bind="getDefaultPrice()"></span>
        <!-- TODO: Replace with product unit -->
        <span class="price-unit">/ each</span>
    </div>
</div>
