<a id="addToWishlist" class="text-condensed font-weight-bold btn-link" ng-init='$ctrl.lists = {{ settings.lists | json }}' ng-show="$ctrl.customer.isRegisteredUser" ng-class="{disabled: $ctrl.buttonInvalid}" ng-click="$ctrl.addProductToWishlist()">
    <span class="fa fa-plus text-gray-300"></span>
    <span>{{ 'products.list.add_to_myList' | t }}</span>
</a>
