<div class="d-flex justify-content-between mb-2"
     ng-controller="configurableProductCardController"
     ng-init="initProductConfiguration('{{product.id}}')">
    <div class="float-left">
        {% if customer %}
            {{ 'products.price.private' | t }}
        {% else %}
            {{ 'products.price.public' | t }}
        {% endif %}
    </div>

    <div class="float-right">
        <span class="text-secondary"
              ng-bind="getDefaultPrice()"
              ng-init="showPricesWithTaxes = {{settings.show_prices_with_taxes}}">
        </span>
        / each
    </div>
</div>
