<nav class="navbar-light bg-primary" role="navigation">
    <div class="container">
        <div class="row no-gutters">
            {% include 'bootstrap-migration/main/header/nav/top-level-collections' %}
            <div class="flex-grow-1">
                {% include 'bootstrap-migration/shared/search-bar' %}
            </div>
            <ul class="nav">
                {% if template != 'bulk-order' %}
                    {% assign dropdown = true %}
                    {% include 'bootstrap-migration/main/header/nav/bulk-order-form' %}
                {% endif %}
                <li class="nav-item">
                    <a class="text-uppercase nav-link p-3 text-condensed text-white" href="{{ 'cart' | absolute_url }}" ng-controller="cartBarController">
                        <i class="fa fa-shopping-cart"></i>&ensp;{{ 'layout.cart.cart' | t }}&nbsp;<span ng-if="cartItemsCount > 0" ng-cloak>(<span ng-bind="cartItemsCount"></span>)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
