<div class="row">
    <div class="col-12">
        {% assign name = product.properties['DisplayName'].value %}
        {% if name != null and name != "" %}
            <h1>{{ name }}</h1>
        {% else %}
            <h1>{{ product.title }}</h1>
        {% endif %}
    </div>
</div>
